{% extends 'base/base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block main %}
    <h1 class="text-success">Home</h1>

    <!-- Testing the scroll top arrow -->
    <div class="my-5 py-5"></div>
    <div class="my-5 py-5"></div>
    <div class="my-5 py-5"></div>
    <div class="my-5 py-5"></div>
    <div class="my-5 py-5"></div>
    <div class="my-5 py-5"></div>
    <div class="my-5 py-5"></div>
    <div class="my-5 py-5"></div>
    <div class="my-5 py-5"></div>
    <div class="my-5 py-5"></div>
{% endblock main %}
